<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
</head>
<body>
    <div class="container">
        <h1>usuarios cadastrados</h1>
        <table class="table tabble-bordered table-striped">
            <tr>
                <th>nome</th>
                <th>email</th>
                <th>senha</th>
            </tr>
            {% for usuario in usuarios %}
            <tr>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.senha}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
</body>
</html>